@tiziano093:registry=https://europe-north1-npm.pkg.dev/helical-song-449808-e5/npm-repo/
//europe-north1-npm.pkg.dev/helical-song-449808-e5/npm-repo/:always-auth=true
//europe-north1-npm.pkg.dev/helical-song-449808-e5/npm-repo/:_authToken="ya29.a0AXeO80Q8Hf2ra6oNB6-xh3p1w4ktEDuq0JjPnKHxlem8tKzwf1DvA6NJnM5O2rvJh08LEzvawqyPIUdl6w3f_HaWV1PmpP8kFcarvCV7Zy7L0T2qKWBIgCNtAtLIFL9K0-i5gyJ936tb4tHFpmpO0XCfehlMJ6OkQNxq9gLXnOIaCgYKATwSARMSFQHGX2MivQR8IMac2z5xid-NdsKpKQ0178"